.App {
  min-height: 100vh;
  text-align: center;
  background-color: rgba(33, 33, 33, 0.825);
  color: rgb(114, 240, 226);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.shops,
.customers {
  display: flex;
  justify-content: center;
  min-height: 400px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}